<div class="row">
    <div class='col-xs-12'>
        <%= form_for @message, url: create_message_url do |f| %>
            <%if @seluser%>
              <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label for="name">To</label>
                </div>
                <div class="col-sm-8 col-form-label">
                    <%= f.text_field :to, value: @seluser.email, placeholder: 'name', readonly: true, class:"form-control" %>
                </div>
            <%else%>
              <div class="form-group row">
                <div class="col-sm-2 col-form-label">
                    <label for="name">To</label>
                </div>
                <div class="col-sm-8 col-form-label">
                    <% f.text_field :to, placeholder: 'name', readonly: true, class:"form-control" %>
                </div>
            <%end%>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label for="name">Name</label>
            </div>
            <div class="col-sm-8 col-form-label">
                <%= f.text_field :name, placeholder: 'name', class:"form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label for="email">Email</label>
            </div>
            <div class="col-sm-8 col-form-label">
                <%= f.email_field :email, placeholder: 'email', class:"form-control" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label for="content">Body</label>
            </div>
            <div class="col-sm-8 col-form-label">
                <%= f.text_area :content, placeholder: 'content', class:"form-control", rows: "10" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                  <%= f.submit('Send', class:"btn btn-primary") %>
            </div>
          </div>
          <% if @seluser %>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <%= link_to "Cancel request and return to home page", user_welcome_path(@seluser.id) %>
            </div>
          </div>
          <%else%>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <%= link_to "Cancel request and return to home page", root_path %>
            </div>
          </div>
          <%end%>
        <% end %>
    </div>
</div>

