<%= render 'shared/errors', obj: @article %>

<div class="row">
    <div class='col-xs-12'>
        <%= form_for @article do |f| %>
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label for="category">Category select</label>
            </div>
            <div class="col-sm-8 col-form-label">
                <% array = ['Education', 'Project', 'Course', 'Computer skill'] %>
                <%= f.select :category, options_for_select(array, @article.category), placeholder:"Category of article" %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label for="title">Title</label>
            </div>
            <div class="col-sm-8 col-form-label">
                <%= f.text_field :title, class:"form-control", id:"title", placeholder:"Title of article", autofocus: true  %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label for="description">Description</label>
            </div>
            <div class="col-sm-8 col-form-label">
                <%= f.text_area :description, rows: 8, class:"form-control", id:"description", placeholder:"Description of article", autofocus: true  %>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2 col-form-label">
                <label for="date">Date</label>
            </div>
            <div class="col-sm-8 col-form-label">
                <%= f.text_field :date, class:"form-control", id:"date", placeholder:"Date of article", autofocus: true  %>
            </div>
          </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                      <%= f.submit "#{@boton} course", class:"btn btn-primary" %>
                </div>
              </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <%= link_to "Cancel request and return to courses listing", articles_path %>
            </div>
          </div>
        <% end %>
    </div>
</div>

