<% if @user.detail %>
    <h1 align="center"><%= link_to "Welcome to #{@user.username}'s page", detail_path(@user.detail)  %></h1>
    <%= render 'details/welcome', obj: @user %>
    <br>
    <%= render 'details/about', obj: @user.detail %>
    <br>
    <%= render 'details/profile', obj: @user.detail %>
    <br>
<% else %>
    <h1 align="center">Welcome to <%= @user.username %>'s page</h1>
    <h2 align='center'> Welcome</h2>
    <br>
    <h2 align='center'> About me</h2>
    <br>
    <h2 align='center'> Profile</h2>
<% end %>

<div class="row well">
    <div class="well-lg user_top">
        <% Category.all.each do |category| %>
            <div class="well-lg article_top">
                <h4 align="center"><%= category.name %></h4>
                <% relation= ArticleCategory.where(category_id: category.id)%>
                <% if relation %>
                <%= render 'articles/article', obj: @user.articles.where(id: relation.pluck(:article_id)).reverse %>
                <% end %>
                <hr>
            </div>
        <% end %>
    </div>
</div>
    