<nav class="footer navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="footer navbar-nav mr-100">
      <li class="nav-item">
        <%= link_to "Users", new_user_path, class:"footer-link"%>
      </li>
      <li class="nav-item dropdown">
        <a class="footer-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "New Course", new_article_path, class:"dropdown-item"%>
          <div class="dropdown-divider"></div>
          <%= link_to "Articles List", articles_path, class:"dropdown-item"%>
        </div>
      </li>
      <% if logged_in? %>
          <li class="nav-item navbar-right">
            <%= link_to 'Log out', logout_path, method: :delete, class:"footer-link" %>
          </li>
      <% else %>
          <li class="nav-item navbar-right">
            <%= link_to 'Log in', login_path, class:"footer-link" %>
          </li>
          <li class="nav-item navbar-right">
            <%= link_to 'Sign up', new_user_path, class:"footer-link" %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>