<nav class="footer navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="footer navbar-nav mr-100">
      <% if logged_in? %>
          <li class="nav-item navbar-right">
            <%= link_to 'Log out', logout_path, method: :delete, class:"footer-link" %>
          </li>
          <div class="dropup navbar-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User Profile
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <%= link_to "Edit your profile", edit_user_path(current_user), class:"dropdown-item"%>
              <div class="divider"></div>  
              <%= link_to "View your profile", user_path(current_user), class:"dropdown-item"%>
            </ul>
          </div>
          <div class="dropup navbar-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User articles
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <%= link_to "Articles List", user_path(current_user), class:"dropdown-item"%>
              <div class="divider"></div>
              <%= link_to "New Course", new_article_path, class:"dropdown-item"%>
            </ul>
          </div>
      <% else %>
          <li class="nav-item navbar-right">
            <%= link_to 'Sign up', new_user_path, class:"footer-link" %>
          </li>
          <li class="nav-item navbar-right">
            <%= link_to 'Log in', login_path, class:"footer-link" %>
          </li>
      <% end %>
    </ul>
  </div>
</nav>