<nav class="navbar footer navbar-expand-lg navbar-light bg-light">
  <div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContentfooter" aria-controls="navbarSupportedContentfooter" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContentfooter">
    <ul class="footer navbar-nav mr-auto">
      <% if logged_in? %>
          <li class="nav-item navbar-right">
            <%= link_to 'Log out', logout_path, method: :delete, class:"footer-link" %>
          </li>
          <div class="dropup navbar-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User Profile <%= "Admin" if current_user.admin? %>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <%= link_to "View your profile", user_path(current_user), class:"dropdown-item"%>
              <div class="divider"></div>  
              <%= link_to "Edit your profile", edit_user_path(current_user), class:"dropdown-item"%>
              <div class="divider"></div>
              <%= link_to "New Course", new_article_path, class:"dropdown-item"%>
              <div class="divider"></div>
              <%= link_to "New details", new_detail_path, class:"dropdown-item"%>
              <% if logged_in? and current_user.admin? %>
                <div class="divider"></div>
                <%= link_to "View Categories", categories_path, class:"dropdown-item" %>
                <div class="divider"></div>
                <%= link_to "Create New Category", new_category_path, class:"dropdown-item" %>
              <% end %>
            </ul>
          </div>
      <% else %>
          <li class="nav-item navbar-right">
            <%= link_to 'Sign up', new_user_path, class:"footer-link" %>
          </li>
          <li class="nav-item navbar-right">
            <%= link_to 'Log in', login_path, class:"footer-link" %>
          </li>
      <% end %>
    </ul>
  </div>
  </div>
</nav>